<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301794098721-28b6dd6vkdt1nhk0vlqv9oade7rfri9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301794098721-28b6dd6vkdt1nhk0vlqv9oade7rfri9t</string>
	<key>API_KEY</key>
	<string>AIzaSyAYub8SinhNUYpRDjTAiJDzDl9A82QAQpg</string>
	<key>GCM_SENDER_ID</key>
	<string>301794098721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GevorgiOS.LoginProject</string>
	<key>PROJECT_ID</key>
	<string>loginproject-b2a89</string>
	<key>STORAGE_BUCKET</key>
	<string>loginproject-b2a89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301794098721:ios:46db1e8e6921a8feb02d60</string>
</dict>
</plist>